@font-face {
    font-family: gilroy;
    src: url(./fonts/Gilroy-Regular.ttf);
}
@font-face {
    font-family: darknet;
    src: url(./fonts/DarknetItalic-rgn8B.ttf);
}
@font-face {
    font-family: racing;
    src: url(./fonts/ProRacing-7BZOD.otf);
}

@font-face {
    font-family: blenderPro;
    src: url(./fonts/BlenderPro-Bold.woff);
}
@font-face {
    font-family: blenderPro_light;
    src: url(./fonts/BlenderPro-Medium.woff);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #0f0f0f;
    color: #fff;
    font-family: gilroy;
}

body::-webkit-scrollbar{
    display: none;
}



.navbarContainer{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5vh 4vw;
    border-bottom: 1px solid rgb(22, 22, 22);
}

.logo{
    font-family: racing;
    font-size: 3.8vh;
    width: 10%;
    font-weight: 800;
    cursor: pointer;
}



.searchBar{
    width: 20%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    gap: 2px;
    
}

.searchBar input{
    border: none;
    height: 3.4vh;
    border-radius: 10px;
    background-color: #343434;
    background-color: transparent;
    border-bottom: 0.2px solid rgb(72, 72, 72);
    border-radius: 3px;
    color: rgb(187, 187, 187);
    
}

.searchBar input:hover{
    border-color: #FF6600;
}

.searchBar i{
  color: #FF6600;
  cursor: pointer;
  font-size: 1.5vw;
}

.searchBar i:hover{
    color: white;
}

.box{
    /* background-color:red; */
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.8vh;
    padding-left: 5vw;
    font-weight: 500;
}

.box .item:hover{
    border-bottom: 1.8px solid #FF6600;
    cursor: pointer;
}



/* hero section */


.hero{
    /* background-color: rgb(255, 0, 0); */
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3vh;
}

.hero .hero-text{
    font-family: racing;
    font-size: 12vw;
    color: #FF6600;
    overflow: hidden;
}

.hero .hero-text span{
    font-family: racing;
    display: inline-block;
}

.hero .hero-des{
    font-family: racing;
    font-size: 4vw;
}



.page1 {
    background: radial-gradient(farthest-corner at 50% 50%, #333, #222, #111);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.page1 .bgtext{
    position: absolute;
    font-family: darknet;
    z-index: 0;
    font-size: 20vh;
    font-style: italic;
    top: 9vh;
    opacity: 10%;
}

.page1 img{
    height: 30vw;
    z-index: 1;
}

.page1 .title{
    font-family: racing;
    font-size: 5vw;
    opacity: 80%;
}

.details{
    /* background-color: aqua; */
    height: 5vh;
    width: 100%;
    padding: 0.5vh 4vw;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2vh;
    
}

.details .dets{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 10px;
}

.details .dets h1{
    font-size: 2.3vh;
    color: #cecece;
}
.details .dets h3{
    font-size: 1.8vh;
    color: #8e8e8e;
}


/* banner */

.banner{
    height: 35vh;
    width: 100%;
    background: radial-gradient(farthest-corner at 50% 50%, #545454, #222, #000000);
    border: 2px solid #898989;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner .bike-L{
    height: 30vh;
    width: 25vw;
}
.banner .bike-L{
    height: 30vh;
    width: 25vw;
}
.banner .bike-R{
    height: 30vh;
    width: 25vw;
}
.banner .bike-R{
    height: 30vh;
    width: 25vw;
}



.banner #l1{
    z-index: 2;
}
.banner #l2{
    z-index: 1;
}

.banner #r1{
    z-index: 1;
}
.banner #r2{
    z-index:2;
}


.bnr_text{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 3;
    height: 100%;
    width: 100%;
    padding: 10px 10px;
    overflow: hidden;
}

.bnr_text h1{
    font-size: 6.4vw;
    font-weight: 600;
    font-family:blenderPro;
    flex-wrap: wrap;
    text-align: center;
    line-height: 5vw;

}
.bnr_text h3{
    font-size: 2.8vw;
    font-weight: 200;
    font-family:blenderPro_light;
}


.map{
    height: 90vh;
    width: 100vw;
    background-color: #000000;
    padding:8vw 8vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}


.map .text{
    height: 40vh;
    width: 50vw;
    /* background-color: #000000; */
    display: flex; 
    flex-direction: column;
}

.map .text .worldwide{
    height: 15vh;
    width: 36vw;
    overflow: hidden;
}

.map .text .worldwide h2{
    font-size:6vw;
}
.map .text .ktm{
    color: #FF6600;
    height: 25vh;
    width: 25vw;
    /* background-color: #545454; */
    overflow: hidden;
}
.map .text .ktm h1{
    font-size: 12vw;
    font-family:blenderPro_light;
    font-weight: 500;
}


.map .text .dots{
    display:flex ;
    align-items: center;
    justify-content: space-between;
    height: 4vh;
    width: 30vw;
    /* background-color: #222; */
    margin-right: 0%;
    font-family: gilroy;
    font-size: 1.2vw;
}

.map #orange{
    color: #FF6600;
}
.map #light_orange{
    color: #FFB27F;
}

.map img{
    height: 50vh;
    width: 50vw;
}



.achivements{
    height: 80vh;
    width: 100vw;
    /* background-color: #898989; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5vw 5vw;

}

.achivements .text-box{
    height: 100%;
    width: 40vw;
    background-color: #FF6600;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.achivements .text-box span{
    font-size: 6vw;
    line-height: 5vw;
    color: transparent;
    -webkit-text-stroke: 1px white;
    font-family: blenderPro_light;
}




.achivements .box-container{
    /* background-color: salmon; */
    height:40vh ;
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    
}

.achivements .box-container .boxes{
    /* background-color: #aaaaaa; */
    height: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px 5px;
}


.box-container .boxes .numbers{
    /* background-color: #222; */
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vw;
}
.box-container .boxes .name{
    /* background-color: #676767; */
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:blenderPro_light;
}

.box-container .boxes #manufacturer-value{
    color: #FF6600;
    font-size: 10vw;
}
.achivements .text-box span{
    z-index: 2;
}

.achivements .text-box h1{
    position: absolute;
    color: #000000;
    font-size: 10vw;
    z-index: 1;
    font-family: blenderPro;
    font-weight: 900;
}


/* temp */
.temp{
    height: 100vh;
    width: 100%;
}