
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body{
    background-color:#1c1c1c ;
}

/* navbar */

.navbar{
    /* background-color:#121010; */
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* box 1 */
.box1{
    height: 5vh;
    width: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5vw;
}

.logo{
    /* background-image: url(./images/37860_KTM_LogoPodium_orange_RGB.jpg);
    height: 4vh;
    width: 6vw;
    background-size:cover;
    background-position: center; */
    /* font-family: super-brigade-font; */
    font-size: 2vh;
    font-weight: 100;
    color: white;
    

}

/* box 2 */

.box2{
    /* background-color: blue; */
    color: white;
    height: 5vh;
    width:35vw ;
    margin-right:20vw;
    margin-left: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.innerBox{
    font-family:Arial;
    font-size:1.5vh;
    /* border-bottom: 2px solid #FF6600 ; */
    padding: 2px;
}

/* box 3 */
.box3{
    height: 5vh;
    width: 20%;
    color: white;
    display: flex;
    align-items: center;
}
.box3 > i{
    color: #FF6600;
}

.box3 .text{
    font-size:1.5vh;
    font-family: Arial, Helvetica, sans-serif;
}

/* box 4 */

/* .box4{
    height: 5vh;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;

} */

.box4{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 2.5vw;
}

.box4 .search{
    /* background-color: salmon; */
    height: 4.5vh;
    width: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5vh;
}
.box4 .menu{
    /* background-color: salmon; */
    height: 4.5vh;
    width: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5vh;
}


/* navbar hover effect */

.innerBox:hover{
    border-bottom: 2px solid #FF6600 ;
    
}

.box3 .text:hover{
    border-bottom: 2px solid #FF6600 ;

}

.box4 .search:hover{
     background-color: #343434;
     border: 2px;
     border-radius: 50%;
}
.box4 .menu:hover{
     background-color: #343434;
     border: 2px;
     border-radius: 50%;
}